.navi{
        position:fixed;
        width: 100%;
        background: #4e687a;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.white{
        color: white;
}

.bgColor{
        background-color: #d1e3ff
}
body{
        background-color: #d1e3ff !important
}

.column{
	float:left;	
	width: 300px;
	padding:20px;
	height: 300px;
}
.row{
	content:"";
	display: table;
	clear: both;
}
