 a {
    text-decoration: none;
     color: black;
}

h3{
    color: white;
    font-size: large;
}

a:hover {
 opacity: 0.6;
}
.form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

body {
    background-color: WhiteSmoke;
    margin: 0;
    padding: 0;
}

.color{
    color: white;
}

.buttonStyle{
    border-color: white;
    border-style: solid 3px;
    height: 58px;
    width: 300px;
}

.buttonLocation1{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.buttonLocation2{
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.styleLocation{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h3Location{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.width{
    width: 650px;
}

.h1Location{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.style{
    margin: auto auto;
    text-align: center;
    font-size: 25px;
    color: white;
}
.gi-5x{
    font-size: 5em;
}  

.iconLocation{
  position: fixed;
  top: 10%;
  left: 5%;
  transform: translate(-50%, -50%);
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  height: 550px;
  width: 700px;
  background-color:black;
  
}

@media all and (max-width: 60%) and (min-width: 30%) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 

      .main{
           height: auto;
           width: auto;

      }

      .square{
           height: auto;
           width: auto;

      }

}