.studentContent {
}

.column{
	float:left;	
	width: 300px;
	padding:20px;
	height: 300px;
}
.row{
	content:"";
	display: table;
	clear: both;
}

.moduleBar {
	padding-top: 2%;

}

.taskContent {
	padding-top: 20%;
	padding-left: 10%;
}