
.Topbar {
    padding: 20px;
    background-color: #00305E;
    color: white;
}

.button {
  position: fixed;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.style{
    height: 50px;
    width: 50px;

    color:  pink;
    background-color: pink;
    
    font: "Lucida Console";
    font-size: 25px;

}