
.ModuleProgress {
    float: left;    
    padding: 10px;
    max-width: 200px;
    min-width: 100px;
}

.CircularProgressbar-path {
    stroke: red;
}

.Explore {
    fill: blue;
}

.Develop {
    stroke: red;
    fill: red;
}

.Grow {
    fill: red;
}